services:
  kafka:
    platform: linux/arm64
    image: apache/kafka-native
    # ports:
    #   - "9092:9092"
    environment:
      # Configure listeners for both docker and host communication
      KAFKA_LISTENERS: CONTROLLER://localhost:9091,HOST://0.0.0.0:9092,DOCKER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: HOST://localhost:9092,DOCKER://kafka:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,HOST:PLAINTEXT

      # Settings required for KRaft mode
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9091

      # Listener to use for broker-to-broker communication
      KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER

      # Required for a single node cluster
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  kafka-ui:
    image: kafbat/kafka-ui:main
    ports:
      - 8081:8080
    environment:
      DYNAMIC_CONFIG_ENABLED: "true"
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9093
    depends_on:
      - kafka

  rabbitmq:
    platform: linux/arm64
    image: rabbitmq:4-management
    ports:
      - 15672:15672
      # - 5672:5672
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 5s
      timeout: 5s
      retries: 5

  postgresql:
    platform: linux/arm64
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_DB: goliath
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d goliath -U user"]
      interval: 5s
      retries: 5
    # ports:
    #   - 5432:5432
    # volumes:
    #   - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    depends_on:
      - postgresql
    ports:
      - 8082:8080

  s3storage:
    platform: linux/arm64
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      AWS_REGION: us-east-1
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    volumes:
      - minio-data:/data
    ports:
      # - "9000:9000"   # S3 API
      - "9001:9001"   # Web UI
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5
  
  redis:
    platform: linux/arm64
    image: redis:latest
    ports:
      - 6379:6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  goliath:
    platform: linux/arm64
    build:
      context: service/
      dockerfile: Dockerfile
    depends_on:
      postgresql:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      kafka:
        condition: service_started
      s3storage:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      GOLIATH_PORT: "8080"
      GOLIATH_MIGRATIONS: /app/migrations
      # postgres
      POSTGRES_HOST: postgresql:5432
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: goliath
      # rabbitmq
      RABBITMQ_HOST: rabbitmq:5672
      RABBITMQ_USER: guest
      RABBITMQ_PASSWORD: guest
      # kafka
      KAFKA_HOST: kafka:9092
      # s3storage
      S3_STORAGE_URL: http://s3storage:9000
      S3_STORAGE_REGION: us-east-1
      S3_STORAGE_KEY: minio
      S3_STORAGE_SECRET: minio123
      # redis
      REDIS_URL: redis:6379
    ports:
      - 8080:8080

volumes:
  minio-data:
  # pgdata:
