services:
  web:
    build:
      context: ../front/
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    networks:
      - goliath-network
    # volumes:
    #  - ../front:/app:rw

networks:
  goliath-network:
    name: goliath-network
    driver: bridge
